.pagina-cadastro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .inicial-cadastro {
    background: rgba(0, 0, 0, 0.9);
    height: 600px;
    width: 650px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0.1px 0.1px 8px 1px white;
    border-radius: 25px;

    .form-cadastro {
      padding-left: 25px;
      padding-top: 55px;
      .bnt-form {
        display: flex;
        justify-content: center;
        button {
          margin-top: 10px;
          height: 50px;
          width: 250px;
          background-color: transparent;
          //tipografia
          color: #fff;
          text-align: center;
          font-family: Roboto;
          font-size: 25px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: uppercase;
          border: 2px solid rgba(255, 255, 255, 0.5);
          border-radius: 40px;
          cursor: pointer;
        }
      }
      .title-cadastro {
        h1 {
          padding-left: 115px;
          color: #6e9fe9;
          font-family: Roboto;
          font-size: 45px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          letter-spacing: 0.969px;
        }
      }
      .input-cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 25px;
        input {
          //placehoder

          color: #fff;
          font-family: Raleway;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-left: 135px;
          padding-bottom: 10px;
          //style
          width: 80%;
          height: 25px;
          background-color: transparent;
          outline: none;
          border: 2px solid rgba(255, 255, 255, 0.9);
          border-top: none;
          border-left: none;
          border-right: none;
        }
        p {
          font-size: 23px;
          color: rgba(217, 207, 216, 0.54);
        }
      }
    }
  }
}
